<!-- including header content -->s
<%- include('./partials/header') %>
    <h1>About</h1>
    <p>
        <%= AboutContent %>
    </p>
    <!-- including footer from partials -->
    <%- include('./partials/footer') %>