<!-- including header content -->
<%- include('./partials/header') %>
    <h1>Contact</h1>
    <p>
        <%= AboutContact %>
    </p>
    <!-- including footer from partials -->
    <%- include('./partials/footer') %>